table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  #stream_div {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: 65%;
  }

  .data_disp {
    width: 35%;
    height: 30%;
    border: 1px solid gray;
    position: relative;
    display: inline-block;
    margin: 5px;
}

.disp_head {
    text-align: center;
    background-color: rgb(113, 163, 189);
    height: 20px;
    line-height: 20px;
    font-weight: bold;
}

.disp_body {
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

#data_dipsplay_blocks {
    right: -8%;
    top: 8%;
    width: 40%;
    height: 30%;
    position: fixed;
    display: block;
}

#more_than_four {
    margin-left: 20%;
}

#search_box {
    left: 66.5%;
    width: 32%;
    height: 4%;
    padding: 0 0 2px 2px;
    line-height: 28px;
    text-align: left;
    cursor: text;
    resize: none;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    font-family: arial, sans-serif;
}

#search_box:focus {
    outline: none;
}


.button {
    display: block;
    position: fixed;
    text-align: center;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 2px;
}

.button:hover {
    border-color: rgb(150,150,150);
    cursor: pointer;
}

#search_results_box {
    font-family: arial, sans-serif;
    width: 32.25%;
    left: 66.5%;
    z-index: 1;
    top: 5.6%;
    height: 30%;
    position: fixed;
    display: none;
    overflow-y: scroll;
    border-bottom: 2px solid #dddddd;
}

.result {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #ffffff;
}

.result:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.result:active {
    background-color: #e7e7e7;
}